DATA STRUCTURE (THEORY QUESTIONS)

1.What are data structures, and why are they important?

Ans.Data structures are ways to organize and store data so it can be used efficiently. They define how data is organized, stored, and manipulated within a program, making it easier for computers to process large, complex sets of information.
 Data structures are crucial because they increase the efficiency of computer code and make it simpler to understand.
 They are fundamental to coding and building software applications, and are often among the first lessons taught to beginners of programming.

 2.Explain the difference between mutable and immutable data types with examples.

 Ans.In Python, data types are categorized into mutable and immutable types. Mutable data types are those whose values can be changed after creation, whereas immutable data types are those whose values cannot be altered once they are set.

Examples of mutable data types include lists, dictionaries, and sets. Lists, for instance, are ordered collections of elements that can be modified by adding, removing, or changing elements. For example, a list can be updated using methods like append, clear, extend, insert, pop, remove, reverse, and sort.

On the other hand, examples of immutable data types include strings, tuples, and numbers. Strings, for instance, are immutable; any attempt to modify a string results in the creation of a new string object instead of modifying the existing one.

3.What are the main differences between lists and tuples in Python?

Ans.In Python, lists and tuples are both used to store collections of items, but they have distinct characteristics that differentiate them. Lists are mutable, meaning their contents can be changed after creation, while tuples are immutable, meaning their contents cannot be modified once they are created.

4.Describe how dictionaries store data.

Ans.In Python, dictionaries store data in key-value pairs, where each key is unique and immutable, and values can be of any data type.
 When a new dictionary is created, it starts with a certain number of slots, typically 8, and each slot can hold one entry, which is a combination of the hash, key, and value.

 5.Why might you use a set instead of a list in Python?

 Ans.In Python, a set is preferred over a list when you need to perform membership tests or eliminate duplicate values efficiently.
 Sets are unordered collections of unique elements, which means they do not allow duplicates and are optimized for checking if an item is a member of the set.
 This makes operations like checking membership faster in sets compared to lists.
 Additionally, sets are mutable, allowing you to add or remove elements, but the items themselves cannot be changed once added to the set.

 6.What is a string in Python, and how is it different from a list?

 Ans.In Python, a string is a sequence of characters enclosed in either single or double quotes. Strings are immutable, meaning once a string is created, it cannot be changed without creating a new string. This is different from lists, which are mutable and can be changed after creation.

 7.How do tuples ensure data integrity in Python?

 Ans.Tuples ensure data integrity in Python by being immutable, which means once a tuple is created, its elements cannot be changed, added, or removed. This immutability prevents unintended modifications to the data stored within the tuple, ensuring that the data remains consistent and unchanged throughout the program's execution.

 8.What is a hash table, and how does it relate to dictionaries in Python?

 Ans.A hash table is a data structure that allows for efficient storage and retrieval of data using a hash function to map keys to indices in an array. In Python, dictionaries are implemented using hash tables, which provide fast operations for insertion, deletion, and lookup, typically with O(1) time complexity on average

 9.Can lists contain different data types in Python?

 Ans.In Python, lists can contain items of different data types. Each item in the list is separated by a comma and the entire list is enclosed in square brackets []. For example, a list can contain strings, integers, and floating point values, as shown in the example below: elements = ['Hydrogen', 1, 1.007825, 'Helium', 2, 4.00260].
 Additionally, Boolean values can also be used inside lists.

 10.Explain why strings are immutable in Python?

 Ans.In Python, strings are immutable, which means once a string is created, it cannot be modified directly. Any operation that appears to modify a string actually creates a new string object. This is why attempting to change a character in a string, like t = "M", results in a TypeError.

 11.What advantages do dictionaries offer over lists for certain tasks?

 Ans.Dictionaries offer several advantages over lists for certain tasks, primarily due to their key-value structure and the ability to access elements directly by their keys. This allows for efficient and fast retrieval of values based on a specific key, making it particularly useful when dealing with large amounts of data or when the order of elements is not important.

 12.Describe a scenario where using a tuple would be preferable over a list.

 Ans.Using a tuple is preferable over a list in scenarios where data integrity and immutability are crucial. For example, consider a database record where each field contains a specific piece of information that should not change throughout the program's execution. A tuple can represent such a record, ensuring that the data remains constant and cannot be modified, which is beneficial for maintaining data integrity.

 13.How do sets handle duplicate values in Python?

 Ans.In Python, sets do not allow duplicate values. When you try to add a duplicate value to a set, it simply ignores the duplicate and does not add it to the set.
 This feature is by design, as sets are used to store unique elements. For example, if you create a set from a list containing duplicate items, the set will only store the unique values from the list.

 14.How does the “in” keyword work differently for lists and dictionaries?

 Ans.In Python, the in keyword works differently for lists and dictionaries based on their inherent structures and operations.

For lists, the in keyword performs a search operation, which means it sequentially checks each element until it finds a match or reaches the end of the list. This results in a time complexity of O(n) in the worst case, where n is the number of elements in the list.

For dictionaries, the in keyword uses a hashtable, which allows it to perform lookups in constant time, O(1), regardless of the number of items in the dictionary.
 This efficiency is due to the way dictionaries are implemented, enabling fast access to values through their keys.

 15.Can you modify the elements of a tuple? Explain why or why not.

 Ans.In Python, tuples are immutable, meaning their elements cannot be modified once the tuple is created.
 Attempting to modify any element of a tuple will result in a TypeError.

 16.What is a nested dictionary, and give an example of its use case?

 Ans.A nested dictionary is a dictionary that contains another dictionary (or dictionaries) as its value, allowing for a hierarchical structure to store data more efficiently.
 For example, a nested dictionary can be used to store information about a family, where each child is a dictionary within the main family dictionary.

 17.Describe the time complexity of accessing elements in a dictionary.

 Ans.Accessing elements in a dictionary in Python has an average time complexity of O(1), meaning the time it takes to access an element does not depend on the number of elements in the dictionary. This is because dictionaries use hashing to quickly locate keys.

Iterating over all elements in a dictionary, however, has a time complexity of O(N), where N is the number of elements in the dictionary, as it requires visiting each element.

The time complexity of O(1) for accessing elements is based on the assumption that the hash function used is robust enough to minimize collisions.

18.In what situations are lists preferred over dictionaries?

Ans.Lists are preferred over dictionaries in situations where the order of elements is important or when elements need to be accessed by their positions. Lists are better suited for sequential access and storage efficiency, making them ideal for scenarios where maintaining the order of data is crucial.

19.Why are dictionaries considered unordered, and how does that affect data retrieval?

Ans.Dictionaries are considered unordered because they do not maintain a specific order of the items based on when they were added, which is different from lists or tuples where items are stored in the order they were inserted.
 This unordered nature is primarily due to the underlying data structure of dictionaries, which is a hash table, designed for fast key-based access rather than maintaining a sequence.

 20.Explain the difference between a list and a dictionary in terms of data retrieval.

 Ans.In Python, a list is an ordered collection of items that can be accessed using index values, making it faster for index-based access. Retrieving an element by index in a list takes O(1) time complexity.
 On the other hand, a dictionary is a hashed structure of key-value pairs, where data retrieval is based on keys rather than index positions.
 Dictionary lookups require computing a hash, which also has an average time complexity of O(1).
 However, dictionaries require more memory as they store keys along with values, unlike lists.

DATA STRUCTURE (PRACTICAL QUESTIONS)

1.Write a code to create a string with your name and print it.

In [1]:
name = "Alvin Alexander"
print(f"Your name: {name}")

Your name: Alvin Alexander

2.Write a code to find the length of the string "Hello World".

In [3]:
string = "hello world"
length = len(string)
print(length)

11

3.Write a code to slice the first 3 characters from the string "Python Programming".

In [4]:
string = "Python programming"
sliced_string = string[0:3]
print(sliced_string)

Pyt

4.Write a code to convert the string "hello" to uppercase.

In [5]:
string = "Hello"
uppercase_string = string.upper()
print(uppercase_string)

HELLO

5.Write a code to replace the word "apple" with "orange" in the string "I like apple".

In [6]:
string = "I like apple"
new_string = string.replace("apple", "orange")
print(new_string)

I like orange

6.Write a code to create a list with numbers 1 to 5 and print it.

In [7]:
numbers_list_1 = list(range(1, 6))
print(numbers_list_1)

[1, 2, 3, 4, 5]

7.Write a code to append the number 10 to the list [1, 2, 3, 4].

In [8]:
my_list = [1, 2, 3, 4]
my_list.append(10)
print(my_list)

[1, 2, 3, 4, 10]

8.Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

In [10]:
my_list = [1, 2, 3, 4, 5]
my_list.remove(3)
print(my_list)

[1, 2, 4, 5]

9.Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

In [11]:
my_list = ['a', 'b', 'c', 'd']
second_element = my_list[1]
print(second_element)

b

10.Write a code to reverse the list [10, 20, 30, 40, 50].

In [12]:
my_list = [10, 20, 30, 40, 50]
my_list.reverse()
print(my_list)

[50, 40, 30, 20, 10]

11.Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [13]:
my_tuple = (100, 200, 300)
print(my_tuple)

(100, 200, 300)

12.Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [14]:
my_tuple = ('red', 'green', 'blue', 'yellow')
second_to_last = my_tuple[-2]
print(second_to_last)

blue

13.Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [15]:
my_tuple = (10, 20, 5, 15)
min_value = min(my_tuple)
print(min_value)

5

14.Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [16]:
my_tuple = ('dog', 'cat', 'rabbit')
index_of_cat = my_tuple.index('cat')
print(index_of_cat)

1

15.Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [18]:
fruits = ('apple', 'banana', 'orange')
if 'kiwi' in fruits:
    print("Kiwi is in the tuple.")
else:
    print("Kiwi is not in the tuple.")

Kiwi is not in the tuple.

16.Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [19]:
my_set = {'a', 'b', 'c'}
print(my_set)

{'b', 'a', 'c'}

17.Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [20]:
my_set = {1, 2, 3, 4, 5}
my_set.clear()
print(my_set)

set()

18.Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [21]:
my_set = {1, 2, 3, 4}
my_set.remove(4)
print(my_set)

{1, 2, 3}

19.Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [22]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5}

20.Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [23]:
set1 = {1, 2, 3}
set2 = {2, 3, 4}
intersection_set = set1.intersection(set2)
print(intersection_set)

{2, 3}

21.Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [24]:
person = {
    'name': 'Alice',
    'age': 30,
    'city': 'New York'
}
print(person)

{'name': 'Alice', 'age': 30, 'city': 'New York'}

22.Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [25]:
person = {'name': 'John', 'age': 25}
person['country'] = 'USA'
print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

23.Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [1]:
person = {"name": "Alice", "age": 30}
name_value = person["name"]
print(name_value)

Alice

24.Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [2]:
person = {"name": "Bob", "age": 22, "city": "New York"}
person.pop("age")
print(person)

{'name': 'Bob', 'city': 'New York'}

25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [3]:
AliceCityParis = {"name": "Alice", "city": "Paris"}
if "city" in AliceCityParis:
    print("Key 'city' exists in the dictionary.")
else:
    print("Key 'city' does not exist in the dictionary.")

Key 'city' exists in the dictionary.

26.Write a code to create a list, a tuple, and a dictionary, and print them all.

In [7]:

my_list = [1, 2, 3, 4, 5]
my_tuple = ("apple", "banana", "cherry")
my_dict = {"name": "Alice", "age": 30, "city": "Paris"}
print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:",my_dict)

List: [1, 2, 3, 4, 5]
Tuple: ('apple', 'banana', 'cherry')
Dictionary: {'name': 'Alice', 'age': 30, 'city': 'Paris'}

28.Write a code to create a list with strings and print the element at the third index.

In [10]:
fruits = ["apple", "banana", "cherry", "date", "elderberry"]
print("Element at index 3:",fruits[3])

Element at index 3: date

29.Write a code to combine two dictionaries into one and print the result.

In [11]:
dict1 = {"name": "Alice", "age": 30}
dict2 = {"city": "Paris", "country": "France"}
combined_dict = {**dict1, **dict2}
print("Combined dictionary:",combined_dict)

Combined dictionary: {'name': 'Alice', 'age': 30, 'city': 'Paris', 'country': 'France'}

30.Write a code to convert a list of strings into a set.

In [12]:
string_list = ["apple", "banana", "cherry", "apple", "banana"]
string_set = set(string_list)
print("Set:",string_set)

Set: {'cherry', 'banana', 'apple'}